body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #ffd501;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
    background: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#videos video {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30%;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#enquiry {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 50%;
}

.enquiry-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #25D366;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: backgrond 0.3s;
}

.enquiry-button:hover {
    background-color: #1ebe57;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2E8B57;
    color: white;
    margin-top: 20px;
}

video{
    width: 100%;
}
